@import 'colors';
@import 'fonts';
@import 'variables';
@import 'mixins';

.v-card {
    // background: linear-gradient(180deg, #e6e6e6, white);
    border-radius: 8px !important;
}

.v-card__title {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 16px
}

.v-breadcrumbs {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    list-style-type: none;
    margin: 0;
    padding: 5px 1px !important;
}

.v-btn {
    border-radius: 5px !important;

}

.v-btn--floating {
    border-radius: 50% !important;
    min-width: 0;
    height: 56px;
    width: 56px;
    padding: 0;
}

.v-btn--floating.v-btn--fixed,
.v-btn--floating.v-btn--absolute {
    z-index: 4;
}

.v-card__actions>*,
.v-card__actions .v-btn {
    margin: 0;
    border-radius: 5px !important;

}

.v-card__actions .v-btn+.v-btn {
    margin-left: 8px;
    border-radius: 5px !important;
}

.v-tooltip__content {
    // width: 150px;
    // transform: skew(-20deg);
    background: #104b2A !important;
    color: #e9d758 !important;
    // font-size: 14px;
    // display: inline-block;
    // padding: 6px 8px !important;
    // position: absolute;
    // width: auto;
    // text-transform: uppercase !important;
    // font-weight: 700;
    // box-shadow: none !important;
}

.v-alert {
    .v-alert__dismissible .v-icon {
      color: rgba($white, .5);
      font-size: $font-size-default + 2;
    }
  
    .v-alert__icon.v-icon {
      font-size: $font-size-alert-icon;
      color: $white;
    }
  }
  
  .v-snack {
    .v-icon:not(:first-child) {
      color: rgba($white, .5);
      margin-left: $margin-general + 1;
    }
  
    .v-icon:first-child {
      font-size: $font-size-alert-icon;
    }
  
    .v-snack__content {
      padding: $padding-general $padding-general + 5;
      height: auto;
    }
  
    .v-snack__wrapper {
      border-radius: $border-radius-base + 1;
    }
  }
  
  .v-snack .v-snack__wrapper,
  .v-alert {
    @include alert-shadow('info', lighten($brand-info, 5%));
    @include alert-shadow('success', $brand-success);
    @include alert-shadow('error', $brand-danger);
    @include alert-shadow('warning', $brand-warning);
    @include alert-shadow('purple', $brand-primary);
  }
  
  .v-snack {
    @include notifications-color('info', lighten($brand-info, 5%));
    @include notifications-color('success', $brand-success);
    @include notifications-color('error', $brand-danger);
    @include notifications-color('warning', $brand-warning);
    @include notifications-color('purple', $brand-primary);
  }

  .fab-container {
    position: fixed;
    bottom: 10%;
    right: 1%;
  }
  